* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    background-color: #e9e9e9;
}

header {
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e9e9e9;
    background-color: #1d1d1d;
}

/* Headers for webpage titles */
h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    position: right;
    font-size: 48px;
}

/* Headers for aside titles */
h3 {
    padding-top: 20px;
    margin-bottom: 220px;
    text-align: center;
    font-size: 32px;
    color: #e9e9e9;
}
h4 {
    padding-top: 20px;
    margin-bottom: 870px;
    text-align: center;
    font-size: 32px;
    color: #e9e9e9;
}

/* Websites navigation bar */
nav {
    padding-top: 15px;
    margin-right: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

/* Styles all listed items */
ul {
    list-style-type: none;
}
ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}

/* styles listed items under contact section */
ul li p {
    color: #1d1d1d;
    text-decoration: underline;
}

/* Styles basic text in webpage */
a {
    color: #e9e9e9;
    text-decoration: none;
}
p {
    color: #e9e9e9;
    font-size: 25px;
}

/* Styles banner underneath header */
div {
    padding: 25px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e9e9e9;
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}

/* Styles background and font of the aside class */
aside {
    margin-right: 59px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #1d1d1d;
}

/* Footer which displays ownership */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #1d1d1d;
}

/* Positions section of webpage */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    flex: left;
}

/* Styles font, text and background of the section class */
.section-content {
    margin-bottom: 50px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #e9e9e9;
    background-color: #1d1d1d;
}

/* Adds spacing below project */
article {
    margin-bottom: 20px;
}

/* Footer which displays ownership */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #1d1d1d;
    position: bottom;
    font-size: 20px;
}
